.top-nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1em;
}


.top-nav h1{
    font-family: monospace;
    font-size: 25px;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li{
    font-family: monospace;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: 0 1rem;
    overflow: hidden;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu-button-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle{
    display: none;
}



.menu-button, 
.menu-button::before, 
.menu-button::after{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: all .2s ease-out;
    border-radius: 2px;
}

.menu-button::before{
    content: "";
    margin-top: -8px;
}

.menu-button::after{
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before{
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button{
    background: transparent;
}

#menu-toggle:checked + .menu-button-container .menu-button::after{
    margin-top: 0px;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 700px){
    .menu-button-container{
        display: flex;
    }
    .menu{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #menu-toggle ~ .menu li{
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height .2s ease-out;
    }
    #menu-toggle:checked ~ .menu li{
        height: 2.5em;
        padding: 0.5em;
        transition: height .2s ease-out;
    }
    .menu > li{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #F6EEE0;
    }
    .menu > li:hover{
        background-color: #A45C40;
    }
}